@model ETicaretNew.Models.SoruYorum

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>SoruYorum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="YorumId" />
            <div class="form-group">
                <label asp-for="UyeId" class="control-label"></label>
                <select asp-for="UyeId" class="form-control" asp-items="ViewBag.UyeId"></select>
                <span asp-validation-for="UyeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrunId" class="control-label"></label>
                <select asp-for="UrunId" class="form-control" asp-items="ViewBag.UrunId"></select>
                <span asp-validation-for="UrunId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YorumTarihSaati" class="control-label"></label>
                <input asp-for="YorumTarihSaati" class="form-control" />
                <span asp-validation-for="YorumTarihSaati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yorum" class="control-label"></label>
                <input asp-for="Yorum" class="form-control" />
                <span asp-validation-for="Yorum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KontrolEdildiMi" class="control-label"></label>
                <input asp-for="KontrolEdildiMi" class="form-control" />
                <span asp-validation-for="KontrolEdildiMi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

