@model ETicaretNew.Models.User

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}


<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">

            <div class="col-sm-3">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Üye Ol</h2>
                    <form asp-controller="UserLogin" asp-action="Register">
                        <input type="text" asp-for="Adi" placeholder="Kullanıcı Adı"/>
                        <input type="email" asp-for="Email" placeholder="Email Adresi"/>
                        <input type="password" asp-for="Sifre" placeholder="Şifre" />
                        <button type="submit" class="btn btn-default" value="Register">Kayıt Ol</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section>

